@import "../../../../styles/reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

// Common
body {
  background-color: white;
}

strong {
  font-weight: 700;
}

img {
  width: 100px;
  height: 100px;
}

.body {
  display: flex;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

i,
img,
button {
  cursor: pointer;
}

.fa-regular.icon-mini {
  font-size: 10px;
  color: gray;
}

.strong {
  font-weight: 700;
}

// Article

article {
  margin-bottom: 20px;
  border: none;
  border-radius: 2px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 15px;

  img {
    width: 480px;
    height: 480px;
    border-radius: 4px;
  }
}

.feedsUpside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;

  .feedsUpsideLeft {
    display: flex;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
      margin-right: 5px;
      border: 1px solid #bababa;
      border-radius: 50%;
    }

    .feedsNickname {
      margin-right: 10px;
      font-size: 16px;
      font-weight: 700;
    }

    .feedsContentTime {
      color: #bababa;
      font-size: 14px;
    }
  }
}

.feedsBottom {
  padding: 10px 10px 0 10px;

  .feedsIcon {
    display: flex;
    justify-content: space-between;

    .feedsIconLeft {
      font-size: 22px;

      .icon-chat {
        margin: 0 14px;
      }
    }

    .fa-bookmark {
      font-size: 22px;
    }
  }

  .feedsLike {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.feedsContentBox {
  font-size: 14px;

  .feedsMoreComments {
    margin-top: 10px;

    .feedsMoreCommentsText {
      font-weight: 500;
      color: #bababa;
    }
  }
}
