@import "../../../../styles/reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

//Common
body {
  background-color: white;
}

strong {
  font-weight: 700;
}

img {
  width: 100px;
  height: 100px;
}

.body {
  display: flex;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

i,
img,
button {
  cursor: pointer;
}

.fa-regular.icon-mini {
  font-size: 10px;
  color: gray;
}

// Nav
.navBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  padding: 40px 120px 40px 25px;
  border-right: 1px solid #e6e6e6;
  background-color: white;
  z-index: 1;

  img {
    width: 25px;
    height: 25px;
  }

  .logoWestagram {
    position: fixed;
    top: 40px;
    font-size: 25px;
    font-family: "Lobster", cursive;
  }

  .navMiddle {
    margin-top: 80px;

    i {
      font-size: 25px;
    }

    .navMiddleMenu {
      display: flex;
      align-items: center;
      margin: 30px 0;
      gap: 15px;
    }

    .navProfile {
      border-radius: 50%;
    }
  }

  .navBottom {
    position: fixed;
    bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

.hideMenu {
  display: none;
}

.showMenu {
  display: block;
}
